main {
    display: flex;
    justify-content: space-around;

}
html{
    font-size:62.5%;
}
* {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 150%;
}

body {
    background-color: #F3F5FC;
}

header img {
    width: 120px;
    height: 48px;
    overflow: hidden;
}

header{
    margin-bottom: 4rem;
    margin-top: 3rem;
    margin-left: 2rem;
}
.contenedor_formulario{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70dvh;
}

.form_input{
    max-width:577px ;
    width: 100%;
    border-color: transparent;
    height: 60dvh;
    outline: none;
    background: none;
    color: #0A3871;
    font-size: 3.2rem;
    overflow: auto;
}
::placeholder {
    color: #0abb30;
   
}
.alert_mesage{
    display: flex;
    align-items: center;
    gap:0.7rem;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #0abb30;
}


.btn_encriptar{
    background-color: #0A3871;
    color: #F3F5FC;
    font-size: 1.6rem;
    font-weight: bolder;
    padding: 1rem 2rem;
    height: 60px;
    width: 325px;
    border-radius: 24px;
    border: transparent;
}
.btn_desencriptar{
    background-color: transparent;
    color: #3d3d3d;
    font-size: 1.6rem;
    font-weight: bolder;
    padding: 1rem 2rem;
    height: 60px;
    width: 325px;
    border-radius: 24px;
    /* border: solid; */
    border-color: #0A3871;
}
.botones_container{
    display: flex;
    gap: 2rem;
    flex-wrap:wrap ;
}
.hidden{
    display: none;
}
.resultado{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 80dvh;
    border-radius: 32px;
    max-width:38rem ;
    width:100% ;
}
.mesage_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo_resultado{
    font-size: 2em;
    font-weight: bolder;
}
.texto_resultado{
    font-size: 2em;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}
.munheco{
    display: block;
    overflow: hidden;
    margin-top: 2px;

}
@media screen and (max-width:768px) {
    main{
        flex-direction: column;
    }
    .munheco{
        display: none;
    }
    .resultado{
        height: auto;
        max-width: 624px;
        margin-top: 2rem;
    }
    header img {
        width: 80px;
        height: 30px;
    }
    .form_input{
    
        font-size: 2.2rem;
        overflow: auto;
    }
    header{
        margin-bottom: 2rem;
        margin-top: 1.5rem;
        margin-left: 1rem;
    }
    .botones_container{
        justify-content: center;
    }
   
}